<div class="home-component">
  <NoticeBar
    *ngIf="!isMobile"
    style="margin-bottom: 10px"
    [option]="typeOption"
  ></NoticeBar>
  <PullToRefresh
    [ngStyle]="dtPullToRefreshStyle"
    [(ngModel)]="state.refreshState"
    [endReachedRefresh]="state.endReachedRefresh"
    (onRefresh)="pullToRefresh($event)"
  >
    <div *ngFor="let i of this.state.data">
      <div class="item-warp">
        <div class="item-title">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm4x334XykcLJ5V3PPZATpM3_FxQq-IGrgmA&usqp=CAU" alt="">
          <p>如何选择10万以内的轿车？</p>
        </div>
        <div class="item-detail">
          <div class="detail-text">
            主要选购大类：
            1：合资车
            2：国产车
          </div>
          <div class="detail-img"></div>
        </div>
        <div class="item-footer">
          <p><span>程小雪</span> 2022/06/21 12:05</p>
        </div>
      </div>
    </div>
  </PullToRefresh>
  <ng-template #loading>
    <Icon type="loading"></Icon>
  </ng-template>
</div>

