<NoticeBar
  *ngIf="!isMobile"
  style="margin-bottom: 10px"
></NoticeBar>
<div Button (onClick)="onClick()">direction: {{ state.directionName }}</div>
<PullToRefresh
  [ngStyle]="dtPullToRefreshStyle"
  [direction]="state.direction"
  [(ngModel)]="state.refreshState"
  [endReachedRefresh]="state.endReachedRefresh"
  (onRefresh)="pullToRefresh($event)"
>
  <div *ngFor="let i of this.state.data" style="text-align: center; padding: 20px">{{ i }}</div>
</PullToRefresh>

<ng-template #loading>
  <Icon type="loading"></Icon>
</ng-template>
