$browser-default-font-size: 100px !default;
@function pxToRem($px){
  @return $px / $browser-default-font-size * 1rem;
}

.home-component{
  height:auto;
  padding: pxToRem(20px);
  .item-warp{
    margin-bottom: pxToRem(20px);
    .item-title{
      display: flex;
      align-items:center;
      overflow:hidden; //超出的文本隐藏
      text-overflow:ellipsis; //溢出用省略号显示
      white-space:nowrap; //溢出不换行
      p{
        font-size: pxToRem(16px);
        font-weight: bold;
        color:#262626;
      }
      img{
        width:pxToRem(30px);
        height:pxToRem(30px);
        border-radius: 50%;
        margin-right: pxToRem(15px);
      }
    }
    .item-detail{
      display: flex;
      font-size: 14px;
      color:#585a5a;
    }
    .item-footer{
      color:#8a8f8d;
    }
  }
}

